# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de entorno virtual
venv/
env/

# Archivos de configuración del IDE
.vscode/
.idea/
*.swp

# Archivos temporales y de sistema
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# Archivos generados
CV.pdf
temp_img.jpg

# Otros
*.sqlite3

